.signin {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -180px;
    width: 360px;
    height: 360px;
    padding: 36px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);  
}
.signup {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -250px;
    width: 500px;
    height: 360px;
    padding: 36px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);  
}

.login-form {
    margin-top: 20px;
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}